@font-face {
    font-family: 'Narnia';
    src: url('Fonts/NarniaBll-2Odv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

header{
  
}

.logo {
  
}

.main {

}

footer{
  
}