@font-face {
  font-family: "Narnia";
  src: url("Fonts/NarniaBll-2Odv.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  /* background: linear-gradient(to left, #D19664 50%, transparent 50%),
    url("images/background_img.jpg"); */
  background-image: url("images/narnia_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1b1b;
  max-width: 1000px;
  width: 100%;
  max-height: 280px;
  height: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  width: 400px;
  height: 200px;
}

/* Statusbar */

.status-bar-container {
  max-width: 1000px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.status-bar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin-right: 30px;
}

.status-bar-heading-text {
  text-decoration: none;
  margin: 5px;
  color: #afa9a9;
}
.status-bar-text {
  text-decoration: none;
  
  margin: 5px;
  color: #fff;
  text-align: end;
  cursor: pointer;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: end;
  max-width: 300px;
  width: 100%;
  gap: 5px;
}

main {
  display: flex;
  flex-direction: column;
  width: 1000px;
  background-color: #1c1b1b;
}

.section-one {
  border-top: #afa9a9 solid 1px;
  display: flex;
  gap: 10px;
  width: 1000px;
}

.section-two {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.info-text {
  padding: 2px;
  max-width: 450px;
  width: 100%;
  line-height: 23px;
  color: #fff;
}

.poster-img {
  width: 320px;
  height: 500px;
}

.video {
  width: 700px;
  height: 500px;
  border: none;
}

.tags-container {
  min-height: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

.tag-links {
  font-style: normal;
  color: #afa9a9;
  border: #fff solid 1px;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.tag-links:hover {
  background-color: #db14145f;
}

footer {
  border-top: #afa9a9 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  max-height: 50px;
  height: 100%;
}

.footer-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #615d5d;
}
